<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
            <%= link_to "Multi Trade", new_multitrade_path, class: "btn btn-large btn-info" %>
      </section>
      <section>
            <%= link_to "Single Trade", new_localtrade_path, class: "btn btn-large btn-info" %>
      </section
    </aside>
  </div>  
<% else %>
<div class="center hero-unit">
  <h1>Welcome to the PTG Trading platform</h1>

  <h2>
  	This is the home page for PTG trade monitoring and reconcilliation platform.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 