<%= form_for(@localtrade) do |f| %>
  <% if @localtrade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@localtrade.errors.count, "error") %> prohibited this localtrade from being saved:</h2>

      <ul>
      <% @localtrade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :buy %><br />
    <%= f.number_field :buy %>
  </div>
  <div class="field">
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </div>
  <div class="field">
    <%= f.label :settlement_period %><br />
    <%= f.text_field :settlement_period %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :broker %><br />
    <%= f.text_field :broker %>
  </div>
  <div class="field">
    <%= f.label :trader %><br />
    <%= f.text_field :trader %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
