<p id="notice"><%= notice %></p>

<p>
  <% if @localtrade.buy %>
    <b>Buy</b>
  <% else %>
    <b>Sell</b>
  <% end %>
</p>

<p>
  <b>Contract type:</b>
  <%= @localtrade.contract_type %>
</p>

<p>
  <b>Settlement period:</b>
  <%= @localtrade.settlement %>
</p>

<p>
  <b>Price:</b>
  <%= @localtrade.price %>
</p>

<p>
  <b>Volume:</b>
  <%= @localtrade.volume %>
</p>

<p>
  <b>Broker:</b>
  <%= @localtrade.broker %>
</p>

<p>
  <b>Trader:</b>
  <%= @localtrade.trader %>
</p>

<p>
  <b>Created At:</b>
  <%= @localtrade.created_at %>
</p>

<p>
  <b>Created By:</b>
  <%= @localtrade.user.name %>
</p>


<%= link_to 'Edit', edit_localtrade_path(@localtrade) %> |
<%= link_to 'Back', localtrades_path %>
